:root {
  --snap: 0.15s;
  --flinch: 0.25s;
  --linger: 0.35s;
}

@keyframes grow-out {
  0% {
    transform: translateY(-5%);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
